<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
    <script th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'/>
    <script th:src="@{/js/move-top.js}" src="../../js/move-top.js"></script>
    <script th:src="@{/js/easing.js}" src="../../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/megamenu.css}" href="../../css/megamenu.css" />
    <link href="https://fonts.googleapis.com/css?family=Caveat&amp;display=swap" rel="stylesheet"/>
    <script th:src="@{/js/megamenu.js}" src="../../js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <style>
        body {
            font-family: 'Caveat', cursive;
            font-size: 2em;

        }
        .banner-top {
            font-size: initial;
        }
    </style>
</head>
<body>
<div class="header" >
    <div class="top-header" >
        <div class="container">
            <div class="top-head" >
                <div class="header-para">

                </div>

                <ul class="header-in" style="font-size: 2em; width: -webkit-fill-available; margin-top: 0 !important;">
                    <li ><a href="index.html" >  каталог</a></li>
                    <li><a href="404.html">мой профиль</a> </li>
                    <li><a href="contact.html">   связаться с нами</a></li>
                </ul>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="header-top">
    <div class="container">
        <div class="head-top">

            <div class="top-nav">

            </div>
            <div class="cart box_1">
                <a href="checkout.html">
                    <h3> <div class="total">
                        <span class="simpleCart_total">0 руб</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> товаров)</div>
                        <img th:src="@{images/cart.png}" src="../../images/cart.png" alt=""/></h3>
                </a>
                <p><a href="javascript:;" class="simpleCart_empty"><img th:src="@{images/cart-c.png}" src="../../images/cart-c.png"  alt=""/></a></p>
                <div class="clearfix"> </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="content-middle">
    <h2 style="text-align: center;
		font-size: 3em;" >Все товары из категории <span th:text="${category}"></span></h2>
    <div class="col-best">
        <div class="col-md-4" th:each="item : ${items}">
            <a th:href="@{'/item/{id}'(id=${item.id})}">
                <div class="col-in">
                    <div class="col-in-left">
                        <img th:src="${item.image}" class="img-responsive" alt="" />
                    </div>
                </div>
            </a>
            <div class="col-in-right grid_1 simpleCart_shelfItem">
                <h5 th:text="${item.name}"></h5>
                <ul class="star">
                    <li><a href="#"><i> </i> </a> </li>
                    <li><a href="#"><i> </i> </a> </li>
                    <li><a href="#"><i> </i> </a> </li>
                    <li><i class="in-star"> </i> </li>
                </ul>
                <!---->
                <a href="#" class="item_add"><span class="white item_price" th:text="${item.price}"> <i> </i> </span></a>
                <!---->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>



<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <a href="index.html"><img src="images/logo.png" alt=""/></a>
            <p class="footer-class">© 2019 PetsShop Все права защищены</p>
        </div>
        <div class="col-md-2 footer-middle">
            <ul>
                <li><a href="404.html">О нас</a> </li>
                <li><a href="contact.html">   Обратная связь</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-right">
            <h5>МЫ ПРИНИМАЕМ ОПЛАТУ:</h5>
            <ul>
                <li><a href="#"><i> </i></a> </li>
                <li><a href="#"><i class="we"> </i></a></li>
                <li ><a href="#" ><i class="we-in"> </i></a></li>
                <li ><a href="#" ><i class="we-at"> </i></a></li>
                <li ><a href="#" ><i class="we-at-at"> </i></a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                  containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
             };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });
            $(".wmuSliderPagination").hide();

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>
</body>
</html>