<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
    <script th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'/>
    <script th:src="@{/js/move-top.js}" src="../../js/move-top.js"></script>
    <script th:src="@{/js/easing.js}" src="../../js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start menu -->
    <link rel="stylesheet" th:href="@{/css/megamenu.css}" href="../../css/megamenu.css" />
    <link href="https://fonts.googleapis.com/css?family=Caveat&amp;display=swap" rel="stylesheet"/>
    <script th:src="@{/js/megamenu.js}" src="../../js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <style>
        body {
            font-family: 'Caveat', cursive;
            font-size: 2em;

        }
        .banner-top {
            font-size: initial;
        }
    </style>
</head>
<body>

<div class="header" >
    <div class="top-header" >
        <div class="container">
            <div class="top-head" >
                <div class="header-para">

                </div>
                <!-- <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt="" ></a>
                </div> -->
                <ul class="header-in" style="font-size: 2em; width: -webkit-fill-available; margin-top: 0 !important;">
                    <li ><a th:href="@{/}" >Каталог товаров</a></li>
                    <li><a th:href="@{/user/profile}">Мой профиль</a> </li>
                    <li><a th:href="@{/about}">Связаться с нами</a></li>
                    <!-- 				<li ><a href="#" >   how to use</a></li>
                     -->			</ul>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="header-top">
    <div class="container">
        <div class="head-top">

            <div class="top-nav" style="font-family: 'Caveat', cursive;">
                <ul class="megamenu skyblue">
                    <li class="active grid"><a   th:href="@{/catalog/Кормы для животных}">Кормы для животных</a>

                    </li>
                    <li><a   th:href="@{/catalog/Аксессуары}">Аксессуары</a>
                    </li>
                    <li class="grid"><a th:href="@{/catalog/Лежаки и домики}">Лежаки и домики</a>

                    </li>
                    <li class="grid"><a  th:href="@{/catalog/Витамины и добавки}">Витамины и добавки</a>

                    </li>
                    <li><a  th:href="@{/catalog/Одежда}">Одежда</a>
                    </li>


                </ul>
            </div>
            <div class="cart box_1">
                <a th:href="@{/user/cart}">
                    <h3> <div class="total">
                        <span class="simpleCart_total">Корзина</span> (<span id="simpleCart_quantity" class="simpleCart_quantity" th:text="${cartSum}"></span> руб)</div>
                        <img th:src="@{images/cart.png}" alt=""/></h3>
                </a>
                <div class="clearfix"> </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--banner-->

<div class="banner">
    <div class="container">
        <div class="wmuSlider example1">
            <div class="wmuSliderWrapper">
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">

                        <div class="banner-top">
                            <a href="single.html">
                                <div class="banner-top-in at">
                                    <img src="https://img.is-animal.ru/large/89/10378245-0.jpg" class="img-responsive"
                                         alt="" style="margin-top: 30px;"/>
                                </div></a>
                            <div class="cart-at grid_1 simpleCart_shelfItem">
                                <div class="item_add"><span class="item_price" >123 Р <i> </i> </span></div>
                                <div class="off">
                                    <label>35% СКИДКА !</label>
                                    <p>Корм Happy Cat</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>

                        </div>


                        <div class="banner-top banner-bottom">
                            <a href="single.html">
                                <div class="banner-top-in at">
                                    <img style="margin-top: 30px" src="https://img.is-animal.ru/large/89/10378245-0.jpg"
                                         class="img-responsive" alt=""/>
                                </div></a>
                            <div class="cart-at grid_1 simpleCart_shelfItem">
                                <div class="item_add"><span class="item_price" >123 Р <i> </i> </span></div>
                                <div class="off">
                                    <label>35% СКИДКА !</label>
                                    <p>Корм Happy Cat</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>

                        </div>

                        <div class="clearfix"> </div>

                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">

                        <div class="banner-top">
                            <a href="single.html">
                                <div class="banner-top-in at">
                                    <img src="https://img.is-animal.ru/large/89/10378245-0.jpg" class="img-responsive"
                                         alt=""/>
                                </div></a>
                            <div class="cart-at grid_1 simpleCart_shelfItem">
                                <div class="item_add"><span class="item_price" >123 Р <i> </i> </span></div>
                                <div class="off">
                                    <label>35% СКИДКА !</label>
                                    <p>Корм Happy Cat</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>

                        </div>


                        <div class="banner-top banner-bottom">
                            <a href="single.html">
                                <div class="banner-top-in at">
                                    <img src="https://img.is-animal.ru/large/89/10378245-0.jpg" class="img-responsive"
                                         alt=""/>
                                </div></a>
                            <div class="cart-at grid_1 simpleCart_shelfItem">
                                <div class="item_add"><span class="item_price" >123 Р <i> </i> </span></div>
                                <div class="off">
                                    <label>35% СКИДКА !</label>
                                    <p>Корм Happy Cat</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>

                        </div>

                        <div class="clearfix"> </div>

                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">

                        <div class="banner-top">
                            <a href="single.html">
                                <div class="banner-top-in at">
                                    <img src="https://img.is-animal.ru/large/89/10378245-0.jpg" class="img-responsive"
                                         alt=""/>
                                </div></a>
                            <div class="cart-at grid_1 simpleCart_shelfItem">
                                <div class="item_add"><span class="item_price" >123 Р <i> </i> </span></div>
                                <div class="off">
                                    <label>35% СКИДКА !</label>
                                    <p>Корм Happy Cat</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>

                        </div>


                        <div class="banner-top banner-bottom">
                            <a href="single.html">
                                <div class="banner-top-in at">
                                    <img src="https://img.is-animal.ru/large/89/10378245-0.jpg" class="img-responsive"
                                         alt=""/>
                                </div></a>
                            <div class="cart-at grid_1 simpleCart_shelfItem">
                                <div class="item_add"><span class="item_price" >123 Р <i> </i> </span></div>
                                <div class="off">
                                    <label>35% СКИДКА !</label>
                                    <p>Корм Happy Cat</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>

                        </div>

                        <div class="clearfix"> </div>

                    </div>
                </article>

            </div>

        </div>
        <!---->
        <script src="js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider({
                pagination : false,
                nav : false,
                slideshow: false,
            });
        </script>

    </div>
</div>

<div class="content">
    <div class="container">
        <div class="content-top">
            <h2 style="text-align: center;
		font-size: 3em;">НОВЫЕ ПОСТУПЛЕНИЯ</h2>
            <div class="pink">
                <!-- requried-jsfiles-for owl -->
                <link href="css/owl.carousel.css" rel="stylesheet" />
                <script src="js/owl.carousel.js"></script>
                <script>
                    $(document).ready(function() {
                        $("#owl-demo").owlCarousel({
                            items: 4,
                            lazyLoad: true,
                            autoPlay: true,
                            pagination: true,
                        });
                    });
                </script>
                <!-- //requried-jsfiles-for owl -->
                <div id="owl-demo" class="owl-carousel text-center">
                    <div class="item" th:each="item : ${newItems}">
                        <div class=" box-in">
                            <div class=" grid_box">
                                <a th:href="@{'/item/{id}'(id=${item.id})}"> <img th:src="${item.image}" class="img-responsive" alt="" />
                                </a>
                            </div>
                            <!---->
                            <div class="grid_1 simpleCart_shelfItem">
                                <a href="#" class="cup item_add"><span class=" item_price" th:text="${item.price} + ' Руб'"><i> </i> </span></a>
                            </div>
                            <!---->
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>

        </div>


    </div>
    <div class="clearfix"> </div>
</div>
<div class="content-middle">
    <h2 style="text-align: center;
		font-size: 3em;">ТОП-3 ПРОДАЖ</h2>
    <div class="col-best">
        <div class="col-md-4" th:each="item : ${topItems}" style="    background-color: wheat;
    padding: 0;
    height: 264px;">
            <a th:href="@{'/item/{id}'(id=${item.id})}">
                <div class="col-in" style="background: gray">
                    <div class="col-in-left">
                        <img th:src="${item.image}" class="img-responsive" alt="" style="width: 180px; height:200px"/>
                    </div>
                </div>
            </a>
            <div class="col-in-right grid_1 simpleCart_shelfItem" style="margin-right: 5%; padding: 10px">
                <h5 th:text="${item.name}"></h5>
                <ul class="star">
                    <li><a href="#"><i> </i> </a> </li>
                    <li><a href="#"><i> </i> </a> </li>
                    <li><a href="#"><i> </i> </a> </li>
                    <li><i class="in-star"> </i> </li>
                </ul>
                <!---->
                <a href="#" class="item_add"><span class="white item_price" th:text="${item.price} + ' Руб'"> <i> </i> </span></a>
                <!---->
            </div>
            <div class="clearfix" style="background-color: wheat;
    padding: 10px;"> </div>
        </div>
    </div>
</div>
<!---->

<div class="content-bottom">
    <div class="col-md-8 latter">
        <h6>НОВОСТИ О СКИДКАХ И АКЦИЯХ</h6>
        <p>Подпишитесь на еженедельную новостную рассылку обо всех интересных новостях нашего магазина!</p>

        <div class="clearfix"> </div>
    </div>
    <div class="col-md-4 latter-right">

        <form>
            <div class="join">
                <input type="text" value="Ваша почта" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ваша почта';}" />
                <i> </i>
            </div>
            <input type="submit" value="ОК"/>
        </form>

    </div>
    <div class="clearfix"> </div>
</div>

<!---->


<!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <a href="index.html"><img src="images/logo.png" alt=""/></a>
            <p class="footer-class">© 2019 PetsShop Все права защищены</p>
        </div>
        <div class="col-md-2 footer-middle">
            <ul>
                <li><a href="404.html">О нас</a> </li>
                <li><a href="contact.html">   Обратная связь</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-right">
            <h5>МЫ ПРИНИМАЕМ ОПЛАТУ:</h5>
            <ul>
                <li><a href="#"><i> </i></a> </li>
                <li><a href="#"><i class="we"> </i></a></li>
                <li ><a href="#" ><i class="we-in"> </i></a></li>
                <li ><a href="#" ><i class="we-at"> </i></a></li>
                <li ><a href="#" ><i class="we-at-at"> </i></a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                  containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
             };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });
            $(".wmuSliderPagination").hide();

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>


</body>
</html>
